.apis {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(124, 93, 174, 0.1);
  border-radius: 60%/10%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.apiP {
  width: 45%;
}
.api-infos {
  margin: auto 2%;
  padding: 3rem;
  position: relative;
  background-color: rgba(97, 76, 129, 0.6);
  border-radius: 50% 20% / 10% 40%;
}
.api-infos li {
  text-align: left;
  font-size: 0.8rem;
  margin: 0.4rem 2rem;
}
.api-infos h1 {
  font-size: 1.6rem;
  margin-top: 0;
  color: rgb(102, 67, 2);
}
.api-infos h2 {
  font-size: 1.1rem;
}
.api-infos h3 {
  font-size: 1rem;
  text-decoration: underline;
}
.api-infos h4 {
  font-size: 0.9rem;
  margin: 0;
}
.api-projects {
  display: flex;
  flex-wrap: wrap;
}
.api-img1 {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.api-img {
  width: 80%;
}

.api-links {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.api-img2 {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.api-img2 div {
  margin: 2rem auto;
}
.api-logo {
  width: 4rem;
}

.api-links caption {
  color: rgb(102, 67, 2);
  font-size: 1rem;
  font-weight: bolder;
  margin-bottom: 0rem;
}

.api-links table {
  width: auto;
  margin-top: 1rem;
  padding-bottom: 0.3rem;
  background-color: rgba(255, 166, 0, 0.249);
}
.tableR {
  margin: auto;
}
.git a {
  cursor: url("https://surlapage.fr/widget/cursors/4/1281251.gif"), default;
}
.deploy a {
  cursor: url("https://surlapage.fr/widget/cursors/16/1284150.gif"), default;
}
.ref a {
  cursor: url("https://surlapage.fr/widget/cursors/13/1283826.gif"), default;
}

.git,
.deploy {
  text-align: left;
  padding: 0.5rem 2rem;
}
.api-links thead {
  height: 2rem;
  font-size: 0.6rem;
}
.api-links th {
  padding: 0.5rem;
}
.api-links td {
  font-size: 0.6rem;
}
.appliR {
  color: rgb(102, 67, 2);
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  padding: 0 1rem;
}
@media screen and (max-width: 1000px) {
  .apis {
    width: 100%;
  }
}
@media screen and (max-width: 860px) {
  .apis {
    width: 100%;
  }
  .api-projects {
    flex-direction: column;
  }
  .apiP {
    width: 100%;
  }
  .api-infos h2 {
    font-size: 1.3rem;
    text-align: left;
  }
}
