.hrnet {
  width: 90%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
}
.hrnet-infos {
  width: 55%;
  margin: auto;
  padding: 3rem;
  position: relative;
  background-color: #94d6e3;
  border-radius: 50% 20% / 10% 40%;
}
.hrnet-infos li {
  text-align: left;
  font-size: 1.2rem;
  margin: 0.8rem 2rem;
}
.hrnet-infos h1 {
  font-size: 2rem;
  margin-top: 0;
}
.hrnet-infos h2 {
  font-size: 1.5rem;
}
.hrnet-infos h3 {
  font-size: 1rem;
  text-decoration: underline;
}
.hrnet-logo {
  width: 15rem;
}

.git a {
  cursor: url("https://surlapage.fr/widget/cursors/4/1281251.gif"), default;
}
.deploy a {
  cursor: url("https://surlapage.fr/widget/cursors/16/1284150.gif"), default;
}
.appli {
  color: #0b4e5c;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  padding: 0 1rem;
}
.git,
.deploy {
  text-align: left;
  padding: 0.5rem 2rem;
}
thead {
  height: 2rem;
  font-size: 1rem;
}
th {
  padding: 0.5rem;
}
td {
  font-size: 0.8rem;
}
caption {
  color: #0b4e5c;
  font-size: 1.2rem;
  font-weight: bolder;
  margin-bottom: 0rem;
}
.hrnet-links {
  width: 30%;
}
.hrnet-links table {
  height: 20%;
  margin-top: 30%;
  background-color: #94d6e37c;
  padding-bottom: 0.3rem;
}
.hrnet-img2 {
  margin-top: 4rem;
}
