.hrnet {
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #94d6e326;
  border-radius: 60%/10%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.hrnet-infos {
  width: 80%;
  margin: auto 2%;
  padding: 3rem;
  position: relative;
  background-color: #94d6e3;
  border-radius: 50% 20% / 10% 40%;
}
.hrnet-infos li {
  text-align: left;
  font-size: 0.8rem;
  margin: 0.8rem 2rem;
}
.hrnet-infos h1 {
  font-size: 1.6rem;
  margin-top: 0;
}
.hrnet-infos h2 {
  font-size: 1.1rem;
}
.hrnet-infos h3 {
  font-size: 1rem;
  text-decoration: underline;
}
.hrnet-img1 {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.hrnet-img {
  width: 60%;
}
.hrnet-img:last-child {
  width: 80%;
}
.hrnet-img-last {
  margin-top: 3rem;
}

.hrnet-links {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hrnet-img2 {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.hrnet-img2 div {
  margin: 2rem auto;
}
.hrnet-logo {
  width: 4rem;
}

.hrnet-links caption {
  color: #0b4e5c;
  font-size: 1rem;
  font-weight: bolder;
  margin-bottom: 0rem;
}

.hrnet-links table {
  width: 50%;
  padding-bottom: 0.3rem;
  background-color: #94d6e37c;
}
.tableH {
  margin: auto;
}

.git a {
  cursor: url("https://surlapage.fr/widget/cursors/4/1281251.gif"), default;
}
.deploy a {
  cursor: url("https://surlapage.fr/widget/cursors/16/1284150.gif"), default;
}

.git,
.deploy {
  text-align: left;
  padding: 0.5rem 2rem;
}
.hrnet-links thead {
  height: 2rem;
  font-size: 0.6rem;
}
.hrnet-links th {
  padding: 0.5rem;
}
.hrnet-links td {
  font-size: 0.6rem;
}
.appliH {
  color: #0b4e5c;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  padding: 0 1rem;
}

@media screen and (max-width: 1000px) {
  .hrnet {
    width: 100%;
  }
  .hrnet-links {
    flex-direction: row;
  }
}

@media screen and (max-width: 600px) {
  .hrnet-infos {
    width: 70%;
    margin: auto;
  }
  .hrnet-img2 {
    width: 25%;
    margin: auto 0;
  }
}

@media screen and (max-width: 549px) {
}
