.learn {
  width: 90%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
}
.learn-infos {
  width: 55%;
  margin: auto;
  padding: 3rem;
  position: relative;
  background-color: #94d6e3;
  border-radius: 50% 20% / 10% 40%;
}
.learn-infos li {
  text-align: left;
  font-size: 0.8rem;
  margin: 0.8rem 2rem;
}
.learn-infos h1 {
  font-size: 1.6rem;
  margin-top: 0;
  color: #0b4e5c;
}
.learn-infos h2 {
  font-size: 1.1rem;
}
.learn-infos h3 {
  font-size: 1rem;
  text-decoration: underline;
}
.learn-projects {
  display: flex;
  flex-wrap: wrap;
}
.learn-img1 {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.learn-img {
  width: 8rem;
}

.learn-links {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.learn-img2 {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.learn-img2 div {
  margin: 2rem auto;
}
.learn-logo {
  width: 4rem;
}

.learn-links caption {
  color: #0b4e5c;
  font-size: 1rem;
  font-weight: bolder;
  margin-bottom: 0rem;
}

.learn-links table {
  padding-bottom: 0.3rem;
  background-color: #94d6e37c;
}
.git a {
  cursor: url("https://surlapage.fr/widget/cursors/4/1281251.gif"), default;
}
.deploy a {
  cursor: url("https://surlapage.fr/widget/cursors/16/1284150.gif"), default;
}

.git,
.deploy {
  text-align: left;
  padding: 0.5rem 2rem;
}
.learn-links thead {
  height: 2rem;
  font-size: 0.6rem;
}
.learn-links th {
  padding: 0.5rem;
}
.learn-links td {
  font-size: 0.6rem;
}
.appliL {
  color: #0b4e5c;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  padding: 0 1rem;
}
