.learn {
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #b5b5b632;
  border-radius: 60%/10%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.learn-infos {
  width: 80%;
  margin: auto 2%;
  padding: 3rem;
  position: relative;
  background-color: #b5b5b6;
  border-radius: 50% 20% / 10% 40%;
}
.learn-infos li {
  text-align: left;
  font-size: 0.8rem;
  margin: 0.8rem 2rem;
}
.learn-infos h1 {
  font-size: 1.6rem;
  margin-top: 0;
  color: #b53838;
}
.learn-infos h2 {
  font-size: 1.1rem;
}
.learn-infos h3 {
  font-size: 1rem;
  text-decoration: underline;
}
.learn-projects {
  display: flex;
  flex-wrap: wrap;
}
.learn-img1 {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.learn-img {
  width: 80%;
}
.learn-logo1 {
  width: 50%;
}
.learn-links {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.learn-img2 {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.learn-img2 div {
  margin: 2rem auto;
}
.learn-logo {
  width: 4rem;
}

.learn-links caption {
  color: #b53838;
  font-size: 1rem;
  font-weight: bolder;
  margin-bottom: 0rem;
}

.learn-links table {
  width: 50%;
  padding-bottom: 0.3rem;
  background-color: #b5b5b64b;
}
.tableL {
  margin: auto;
}
.git a {
  cursor: url("https://surlapage.fr/widget/cursors/4/1281251.gif"), default;
}
.deploy a {
  cursor: url("https://surlapage.fr/widget/cursors/16/1284150.gif"), default;
}

.git,
.deploy {
  text-align: left;
  padding: 0.5rem 2rem;
}
.learn-links thead {
  height: 2rem;
  font-size: 0.6rem;
}
.learn-links th {
  padding: 0.5rem;
}
.learn-links td {
  font-size: 0.6rem;
}
.appliL {
  color: #b53838;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  padding: 0 1rem;
}

@media screen and (max-width: 1000px) {
  .learn {
    width: 100%;
  }
  .learn-links {
    flex-direction: row;
  }
}

@media screen and (max-width: 600px) {
  .learn-infos {
    width: 70%;
    margin: auto;
  }
  .learn-img2 {
    width: 28%;
    margin: auto 0;
  }
}
@media screen and (max-width: 549px) {
}
