.marie {
  width: 49%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(138, 200, 180, 0.169);
  border-radius: 60%/10%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.marie-infos {
  width: 80%;
  margin: auto 2%;
  padding: 3rem;
  position: relative;
  background-color: rgb(138, 200, 180);
  border-radius: 50% 20% / 10% 40%;
}
.marie-infos li {
  text-align: left;
  font-size: 0.8rem;
  margin: 0.8rem 2rem;
}
.marie-infos h1 {
  font-size: 1.6rem;
  margin-top: 0;
  color: rgb(10, 102, 2);
}
.marie-infos h2 {
  font-size: 1.1rem;
}
.marie-infos h3 {
  font-size: 1rem;
  text-decoration: underline;
}
.marie-projects {
  display: flex;
  flex-wrap: wrap;
}
.marie-img1 {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}
.marie-img {
  width: 30%;
}
.marie-img-11 {
  width: 80%;
}
.marie-img-22 {
  width: 80%;
  height: 40%;
  object-fit: cover;
  margin-top: 4rem;
}
.marie-img-33 {
  width: 80%;
  margin-top: 2rem;
}

.marie-links {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.marie-img2 {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.marie-img2 div {
  margin: 2rem auto;
}
.marie-logo {
  width: 4rem;
}

.marie-links caption {
  color: rgb(10, 102, 2);
  font-size: 1rem;
  font-weight: bolder;
  margin-bottom: 0rem;
}

.marie-links table {
  width: 50%;
  padding-bottom: 0.3rem;
  background-color: rgba(138, 200, 180, 0.438);
}
.tableM {
  margin: auto;
}
.git a {
  cursor: url("https://surlapage.fr/widget/cursors/4/1281251.gif"), default;
}
.deploy a {
  cursor: url("https://surlapage.fr/widget/cursors/16/1284150.gif"), default;
}

.git,
.deploy {
  text-align: left;
  padding: 0.5rem 2rem;
}
.marie-links thead {
  height: 2rem;
  font-size: 0.6rem;
}
.marie-links th {
  padding: 0.5rem;
}
.marie-links td {
  font-size: 0.6rem;
}
.appliM {
  color: rgb(10, 102, 2);
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  padding: 0 1rem;
}

@media screen and (max-width: 1000px) {
  .marie {
    width: 100%;
  }
  .marie-links {
    flex-direction: row;
  }
}

@media screen and (max-width: 600px) {
  .marie-infos {
    width: 70%;
    margin: auto;
  }
  .marie-img2 {
    width: 25%;
    margin: auto 0;
  }
}

@media screen and (max-width: 360px) {
  .marie-links {
    flex-direction: column;
  }
  table {
    width: 100%;
    margin: auto;
  }
  .marie-img2 {
    width: 100%;
    flex-direction: row;
  }
}
