.password {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(124, 93, 174, 0.1);
  border-radius: 60%/10%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.passwordP {
  width: 45%;
}
.password-infos {
  margin: auto 2%;
  padding: 3rem;
  position: relative;
  background-color: rgba(97, 76, 129, 0.6);
  border-radius: 50% 20% / 10% 40%;
}
.password-infos li {
  text-align: left;
  font-size: 0.8rem;
  margin: 0.4rem 2rem;
}
.password-infos h1 {
  font-size: 1.6rem;
  margin-top: 0;
  color: rgb(102, 67, 2);
}
.password-infos h2 {
  font-size: 1.1rem;
}

.password-projects {
  display: flex;
  flex-wrap: wrap;
}
.passwordPImg {
  width: 50%;
  margin: auto;
}

.password-img {
  width: 80%;
}

.password-links {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.password-logo {
  width: 4rem;
}

.password-links caption {
  color: rgb(102, 67, 2);
  font-size: 1rem;
  font-weight: bolder;
  margin-bottom: 0rem;
}

.password-links table {
  width: auto;
  margin-top: 1rem;
  padding-bottom: 0.3rem;
  background-color: rgba(255, 166, 0, 0.249);
}
.tableR {
  margin: auto;
}
.git a {
  cursor: url("https://surlapage.fr/widget/cursors/4/1281251.gif"), default;
}
.deploy a {
  cursor: url("https://surlapage.fr/widget/cursors/16/1284150.gif"), default;
}
.ref a {
  cursor: url("https://surlapage.fr/widget/cursors/13/1283826.gif"), default;
}

.git,
.deploy {
  text-align: left;
  padding: 0.5rem 2rem;
}
.password-links thead {
  height: 2rem;
  font-size: 0.6rem;
}
.password-links th {
  padding: 0.5rem;
}
.password-links td {
  font-size: 0.6rem;
}
.passwordR {
  color: rgb(102, 67, 2);
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  padding: 0 1rem;
}
@media screen and (max-width: 1000px) {
  .password {
    width: 100%;
  }
}
@media screen and (max-width: 860px) {
  .password {
    width: 100%;
  }
  .password-projects {
    flex-direction: column;
  }
  .passwordP {
    width: 100%;
  }
  .password-infos h2 {
    font-size: 1.3rem;
    text-align: left;
  }
}
