.allproducts h1 {
  margin: 2rem auto 0.5rem auto;
}

.products {
  width: 95%;
  margin: auto;
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1rem;
  border-radius: 3rem;
  border: solid #499167 1rem;
  background-color: #ce8147;
}

.product {
  margin: 0.5rem auto;
  width: 25rem;
  height: 23rem;
  padding: 1rem 0;
  background-color: #f1ecce;
  border-radius: 1rem;
  position: relative;
}
.product img {
  width: 10rem;
  height: 12rem;
  object-fit: cover;
  object-position: top;
  border-radius: 1rem;
}

.product a {
  cursor: url("https://surlapage.fr/widget/cursors/4/1281251.gif"), default;
}

.imgProduct {
  margin: 0;
}

.imgProducts {
  width: 90%;
  padding: 0.5rem 0.2rem;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.imgProducts:hover {
  border: solid #ce8147 0.5rem;
  border-radius: 2rem;
}
.productDescription {
  font-size: 1.2rem;
  font-weight: 700;
  color: #ce8147;
  padding: 0 2rem;
}

.lienGit {
  width: 20%;
  height: 2.5rem;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}
.lienGit img {
  width: 2.5rem;
  height: 2.5rem;
}
.lienGit a {
  cursor: url("https://surlapage.fr/widget/cursors/16/1284150.gif"), default;
}

.imgTech {
  width: 100%;
  position: absolute;
  right: 0rem;
  bottom: 2.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: end;
  height: 2.5rem;
}
.imgTech img {
  width: auto;
  height: 2.5rem;
  margin-left: 1.5rem;
  margin-top: 0.5rem;
}
