.allproducts h1 {
  margin: 2rem auto 0.5rem auto;
}

.products {
  width: 95%;
  margin: auto;
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1rem;
  border-radius: 3rem;
  border: solid #499167 1rem;
  background-color: #ce8147;
}

.product {
  margin: 0.5rem auto;
  width: 25rem;
  height: 25rem;
  padding: 1rem 0;
  background-color: #f1ecce;
  border-radius: 1rem;
  position: relative;
}
.product img {
  width: 10rem;
  height: 12rem;
  object-fit: cover;
  object-position: top;
  border-radius: 1rem;
}

.product a {
  cursor: url("https://surlapage.fr/widget/cursors/4/1281251.gif"), default;
}

.imgProduct {
  margin: 0;
}

.imgProducts {
  width: 90%;
  padding: 0.5rem 0.2rem;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.imgProducts:hover {
  border: solid #ce8147 0.5rem;
  border-radius: 2rem;
}
.productDescription {
  font-weight: 700;
  color: #ce8147;
  padding: 0 2rem;
}
.productDescription-title {
  font-size: 0.9rem;
  text-transform: uppercase;
}
.productDescription-project {
  font-size: 0.75rem;
}
.productDescription-desc {
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.7rem;
  font-weight: 400;
  text-align: justify;
  width: 75%;
  margin: auto;
}

.lienGit {
  width: 20%;
  height: 2.5rem;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}
.lienGit img {
  width: 2.5rem;
  height: 2.5rem;
}
.lienGit a {
  cursor: url("https://surlapage.fr/widget/cursors/16/1284150.gif"), default;
}

.imgTech {
  width: auto;
  position: absolute;
  right: 0.5rem;
  bottom: 1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: flex-end;
  background-color: #ce8147;
  border-radius: 2rem;
}
.imgTech img {
  width: auto;
  height: 2rem;
  margin-left: 1rem;
  padding: 0.2rem;
}

@media screen and (max-width: 1000px) {
  .products {
    width: 90%;
  }
  .product img {
    width: 9rem;
    height: 12rem;
    object-fit: cover;
    object-position: top;
    border-radius: 1rem;
  }
  .lienGit img {
    width: 2.5rem;
    height: 2.5rem;
  }
  .imgTech {
    position: absolute;
    right: 1rem;
    bottom: 3.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
  }
  .imgTech img {
    width: auto;
    height: 2.2rem;
    margin-left: 1rem;
    padding: 0.2rem;
  }
  .product {
    height: 27rem;
  }
}

@media screen and (max-width: 500px) {
  .imgTech :nth-child(3) {
    max-width: 5rem;
    height: 1.4rem;
    object-fit: cover;
  }
}
@media screen and (max-width: 430px) {
  .product {
    height: 29rem;
  }
}

@media screen and (max-width: 370px) {
  .imgProducts {
    width: 10rem;
  }
  .imgProducts img {
    width: 7.5rem;
  }
  .imgTech {
    position: absolute;
    right: 0.5rem;
    bottom: 1.4rem;
  }
  .imgTech img {
    width: auto;
    height: 2rem;
    margin-left: 0.5rem;
    padding: 0.2rem 0.1rem;
  }
}
