.reacts {
  width: 90%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
}
.react-infos {
  width: 55%;
  margin: auto;
  padding: 3rem;
  position: relative;
  background-color: rgb(255, 200, 98);
  border-radius: 50% 20% / 10% 40%;
}
.react-infos li {
  text-align: left;
  font-size: 0.8rem;
  margin: 0.8rem 2rem;
}
.react-infos h1 {
  font-size: 1.6rem;
  margin-top: 0;
  color: rgb(102, 67, 2);
}
.react-infos h2 {
  font-size: 1.1rem;
}
.react-infos h3 {
  font-size: 1rem;
  text-decoration: underline;
}
.react-projects {
  display: flex;
  flex-wrap: wrap;
}
.react-img1 {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.react-img {
  width: 8rem;
}

.react-links {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.react-img2 {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.react-img2 div {
  margin: 2rem auto;
}
.react-logo {
  width: 4rem;
}

.react-links caption {
  color: rgb(102, 67, 2);
  font-size: 1rem;
  font-weight: bolder;
  margin-bottom: 0rem;
}

.react-links table {
  padding-bottom: 0.3rem;
  background-color: rgba(255, 166, 0, 0.249);
}
.git a {
  cursor: url("https://surlapage.fr/widget/cursors/4/1281251.gif"), default;
}
.deploy a {
  cursor: url("https://surlapage.fr/widget/cursors/16/1284150.gif"), default;
}

.git,
.deploy {
  text-align: left;
  padding: 0.5rem 2rem;
}
.react-links thead {
  height: 2rem;
  font-size: 0.6rem;
}
.react-links th {
  padding: 0.5rem;
}
.react-links td {
  font-size: 0.6rem;
}
.appliR {
  color: rgb(102, 67, 2);
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  padding: 0 1rem;
}
