.who3 {
  width: 40%;
  background-color: rgba(255, 255, 255, 0.2);
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 10%;
}

.veto img {
  width: 25%;
  float: right;
}
.maman img {
  width: 25%;
  float: left;
}
.essentiel img {
  width: 22%;
  float: right;
}

.code img {
  width: 8rem;
  height: 12rem;
  object-fit: contain;
  float: left;
}
.life {
  width: 80%;
  margin: auto;
}
.life img {
  width: 80%;
  margin-top: 2rem;
}
