.who6 {
  width: 30%;
  background-color: black;
  border: 0.2rem solid red;
  color: white;
  padding: 1rem 2rem;
  border-radius: 20%;
}
.who6 ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.who6 li {
  margin: auto 1rem;
}
.who6 h1 {
  color: white;
  background-color: red;
  border-radius: 0 5rem 5rem 0;
  padding: 0.2rem;
  font-size: 1.3rem;
  font-weight: bold;
}
