.who7 {
  width: 90%;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 10%;
}
.who7 h1 {
  width: 50%;
  font-size: 1.5rem;
  padding: 0.1rem;
  margin: auto;
  border: 1px solid #0b4e5c;
  border-radius: 1.5rem;
}
.videos {
  display: flex;
  justify-content: space-around;
}
.who7 video {
  width: 75%;
  height: auto;
}
@media screen and (max-width: 680px) {
  .videos {
    display: flex;
    flex-direction: column;
  }
}
