.home {
  width: 95%;
  height: auto;
  text-align: center;
  border: solid 20px #0b4e5c;
  border-radius: 2rem;
  margin: auto;
}
@-webkit-keyframes invisibleh {
  0% {
    opacity: 1;
    height: 100%;
  }
  100% {
    opacity: 0;
    height: 100%;
  }
}
@keyframes invisibleh {
  0% {
    opacity: 1;
    height: 300vh;
  }
  100% {
    opacity: 0;
    height: 0%;
  }
}
.loader-home {
  width: auto;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: -500rem;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6e8e94;
  background-image: url(../../assets/moi2.jpg);
  background-repeat: no-repeat;
  background-position: right 50% top 5vh;
  background-size: 50vh;
  -webkit-animation: invisibleh 500ms linear forwards;
  animation: invisibleh 500ms linear forwards;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}
.typing-home {
  position: absolute;
  top: 60vh;
}
.scroll {
  position: relative;
}
.logoReact {
  width: 30%;
  margin: auto;
  position: absolute;
  top: 16.5rem;
  left: 35%;
  -webkit-animation: spin 20s linear infinite;
  -moz-animation: spin 20s linear infinite;
  animation: spin 20s linear infinite;
  z-index: -1;
}
.logoReact img {
  width: 25rem;
  height: 25rem;
}
.homeBtn1 {
  position: fixed;
  bottom: 0;
  left: 3%;
  font-size: 1.5rem;
  padding: 0.2rem;
}
.homeBtn2 {
  position: fixed;
  bottom: 0;
  right: 3%;
  font-size: 1.5rem;
  padding: 0, 2rem;
}
.homeBtn1 a,
.homeBtn2 a {
  cursor: pointer;
}
.travaux {
  background-color: #0b4e5c;
}
.travaux h1 {
  color: orange;
}
.matières {
  color: orange;
}
.ancres {
  display: flex;
  justify-content: space-around;

  font-size: 0.8rem;
}
.ancres a {
  color: rgb(0, 0, 0);
  background-color: rgb(249, 197, 100);
  padding: 0.5rem;
  border-radius: 2rem;
  cursor: pointer;
  margin-top: 2rem;
}
.ancres p {
  margin-left: 5%;
  font-size: 1.4rem;
  font-weight: bold;
}
.ancre {
  margin-top: 1.8rem;
}
.all-projects {
  width: 98%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#up {
  font-size: 2rem;
  font-weight: bolder;
  color: red;
}
.ancres {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 1000px) {
  .all-projects {
    flex-direction: column;
  }
  .logoReact {
    display: none;
  }
  .logoReact img {
    width: 25rem;
    height: 25rem;
  }
  .ancres {
    width: 90%;
    margin: auto;
  }
  .travaux {
    padding-bottom: 2r;
  }
}

@media screen and (max-width: 1000px) {
  .travaux {
    padding-bottom: 5rem;
  }
}

@media screen and (max-width: 326px) {
  .ancre {
    font-size: 0.7rem;
  }
}
