.home {
  width: auto;
  height: auto;
  text-align: center;
  border: solid 20px #0b4e5c;
  border-radius: 2rem;
}
.scroll {
  position: relative;
}
.logoReact {
  width: 30%;
  margin: auto;
  position: absolute;
  top: 16.5rem;
  left: 35%;
  -webkit-animation: spin 20s linear infinite;
  -moz-animation: spin 20s linear infinite;
  animation: spin 20s linear infinite;
  z-index: -1;
}
.logoReact img {
  width: 25rem;
  height: 25rem;
}
.homeBtn1 {
  position: fixed;
  bottom: 0;
  left: 5%;
  font-size: 1.5rem;
  padding: 0.2rem;
  z-index: 99;
}
.homeBtn2 {
  position: fixed;
  bottom: 0;
  right: 5%;
  font-size: 1.5rem;
  padding: 0, 2rem;
  z-index: 99;
}
.homeBtn1 a,
.homeBtn2 a {
  cursor: pointer;
}
.travaux {
  background-color: rgba(200, 246, 245, 0.3);
}
.ancres {
  display: flex;
  justify-content: space-around;

  font-size: 0.8rem;
}
.ancres a {
  color: rgb(3, 3, 180);
  background-color: rgb(255, 191, 0);
  padding: 0.5rem;
  border-radius: 2rem;
  cursor: pointer;
  margin-top: 2rem;
}
.ancres p {
  margin-left: 5%;
  font-size: 1.4rem;
  font-weight: bold;
}
.ancre {
  margin-top: 1.8rem;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#up {
  font-size: 2rem;
  font-weight: bolder;
  color: red;
}
.ancres,
ancre {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 1000px) {
  .logoReact {
    display: none;
  }
  .logoReact img {
    width: 25rem;
    height: 25rem;
  }
}

@media screen and (max-width: 780px) {
}

@media screen and (max-width: 370px) {
}
