.dataLink {
  width: 5rem;
  height: 5rem;
  border: solid 0.8rem #499167;
  border-radius: 2.5rem;
  margin: auto 3rem;
  padding: 0.3rem;
  position: relative;
}
.dataLink :first-child {
  animation: myAnim2 4s ease-in-out 1s 1 normal forwards;
}
.links p {
  width: 5rem;
  margin: 0.5rem 0 0 3.5rem;
  padding: 0.5rem;
  border-radius: 1.5rem;
  font-size: 0.9rem;
  font-weight: 900;
  color: #f1ecce;
  background-color: #499167;
  animation: myAnim3 4s ease-in-out 1s 1 normal forwards;
}
a {
  text-decoration: none;
  cursor: url("https://surlapage.fr/widget/cursors/16/1289626.gif"), default;
}
.links {
  width: 90%;
  margin: auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  animation: myAnim1 2s cubic-bezier(0.33, 1, 0.68, 1) 50ms 1 normal;
}

.txtb {
  font-size: 1.2rem;
  font-weight: 900;

  color: #78586f;
  position: absolute;
  bottom: 0;
  left: 2.2rem;
}

@keyframes myAnim1 {
  0% {
    opacity: 0;
    transform: translateX(-50rem);
  }
  20% {
    opacity: 0.5;
    transform: translateX(-10rem);
  }

  50% {
    opacity: 1;
    transform: translateX(-5rem);
  }
  70% {
    opacity: 1;
    transform: translateX(-3rem);
  }
  80% {
    opacity: 0.5;
    transform: translateX(3rem);
  }
  90% {
    opacity: 0.2;
    transform: translateX(1.5rem);
  }
  100% {
    opacity: 0;
    transform: translateX(0rem);
  }
}

@keyframes myAnim2 {
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(-5px);
  }

  24% {
    opacity: 1;
  }

  40% {
    animation-timing-function: ease-in;
    transform: translateY(-24px);
  }

  65% {
    animation-timing-function: ease-in;
    transform: translateY(-12px);
  }

  82% {
    animation-timing-function: ease-in;
    transform: translateY(-6px);
  }

  93% {
    animation-timing-function: ease-in;
    transform: translateY(-4px);
  }

  25%,
  55%,
  75%,
  87% {
    animation-timing-function: ease-out;
    transform: translateY(0px);
  }

  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes myAnim3 {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
  }

  24% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  65% {
    opacity: 1;
  }

  82% {
    opacity: 1;
  }

  93% {
    opacity: 1;
  }

  25%,
  55%,
  75%,
  87% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}
