:root {
  --primaire: #025684;
  --primaireLow: rgba(2, 87, 132, 0.2);
  --primaireMid: rgba(2, 87, 132, 0.3);
  --primaireMoy: rgba(2, 87, 132, 0.4);
  --primaireTrans: rgba(2, 87, 132, 0.97);
  --secondaire: rgb(249, 213, 139);
  --secondaireLow: rgba(249, 212, 139, 0.2);
  --tertiaire: #ffa500;
  --tertiaireLow: rgba(255, 166, 0, 0.2);
  --light: wheat;
  --brown: brown;
  --size-header: 106px;
  --size-header-resp: 140px;
  --size-header-small: 190px;
  --h3: rgb(102, 62, 16);
  --size-arrowrapper: 50px;
  --size-arrow: 20%;
  --rotate-arrow: 45deg;
  --rotate-arrow2: -45deg;
}
body {
  margin: 0;
  min-height: 100vh;
}

.home-body {
  background-image: url(../assets/background3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.real-body {
  background-image: url(../assets/background4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.parc-body {
  background-image: url(../assets/background1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.cont-body {
  background-image: url(../assets/background7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
a {
  text-decoration: none;
  font-size: 2rem;
  color: var(--secondaire);
}

header {
  height: var(--size-header);
  padding: 0 1.5rem;
  border-bottom: 6px solid var(--primaireLow);
  background-color: var(--primaire);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: auto;
  margin: 0;
  -webkit-box-shadow: 0px 5px 15px 5px var(--primaireLow);
  box-shadow: 0px 5px 15px 5px var(--primaireLow);
  z-index: 10;
  color: var(--tertiaire);
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

nav a {
  display: flex;
  padding: 0.2rem 0.5rem 1.2rem 0.5rem;
}
.nav-active {
  background-color: var(--secondaireLow);
}

.section {
  position: relative;
}

.content {
  padding: 3rem;

  width: 70%;
  max-width: 900px;
  margin: auto;

  text-align: center;
  background-color: var(--light);
  border-radius: 20px;
  box-shadow: 5px 15px 15px 1px var(--primaire);

  margin-top: 8vh;
}

.content p {
  font-size: 1.3rem;
}

.active {
  background-color: var(--secondaireLow);
}

.next,
.previous {
  position: fixed;
  content: "";
  width: var(--size-arrowrapper);
  height: var(--size-arrowrapper);
  top: 0;
  background-color: var(--tertiaire);
  border-radius: 50%;
  z-index: 80;
  top: calc(50vh - (var(--size-arrowrapper) / 2));
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  cursor: pointer;
  border: 2px solid rgb(191, 191, 191);
  box-shadow: 2px 2px 2px 1px rgba(61, 61, 61, 0.2);
  transition: 0.3s;
}

.next {
  right: 1rem;
  box-shadow: 2px 2px 2px 1px rgba(61, 61, 61, 0.2);
}

.previous {
  left: 1rem;
  box-shadow: 2px 2px 2px 1px rgba(61, 61, 61, 0.2);
}

.previous::before,
.previous::after {
  position: absolute;
  content: "";
  width: calc(100% / 2);
  height: var(--size-arrow);
  border-radius: 0 3px 3px 0px;
}

.previous::before {
  background-color: var(--primaire);
  transform-origin: bottom left;
  transform: rotate(var(--rotate-arrow));
  top: calc(50% - (40% / 2));
  left: 20%;
}

.previous::after {
  background-color: var(--primaire);
  transform-origin: top left;
  transform: rotate(var(--rotate-arrow2));
  top: calc(50% - (0% / 2));
  left: 20%;
}

.next::before,
.next::after {
  position: absolute;
  content: "";
  width: calc(100% / 2);
  height: var(--size-arrow);
  z-index: 80;
  border-radius: 3px 0px 0px 3px;
}

.next::before {
  background-color: var(--primaire);
  transform-origin: bottom right;
  transform: rotate(var(--rotate-arrow));
  top: calc(50% - (10% / 2));
  left: 16%;
  z-index: 90;
}

.next::after {
  background-color: var(--primaire);
  transform-origin: top right;
  transform: rotate(var(--rotate-arrow2));
  top: calc(50% - (27% / 2));
  left: 16%;
  z-index: 90;
}

.previous:hover,
.next:hover {
  transform: scale(1.2);
}

/* AJOUTS */
/* général */
h3 {
  color: var(--h3);
  font-weight: bold;
}
.header-title {
  width: 100%;
  display: flex;
  gap: 15px;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bold;
}
.header-title h1,
.header-title h2 {
  margin-top: 1rem;
  margin-bottom: 0;

  font-size: 200%;
}
/* section 1 */
.content-1 {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* margin-bottom: 2rem; */
}
.content-1 h3 {
  font-size: 4rem;
  margin: 0 auto;
}
.me-title {
  padding: 0 3.5rem 0.5rem 3.5rem;

  display: flex;

  justify-content: space-between;
  align-items: center;
}
.me img {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  border-bottom: inset 2px var(--primaireMid);
  border-right: inset 10px var(--primaireMoy);
  border-top: outset 6px var(--primaireMid);
  border-left: outset 2px var(--primaireLow);
}
.bzh img {
  width: 10vw;
  height: auto;
  transform: rotate(-10deg);
}
.content-1 {
  padding: 3rem 0 0 0;
}
.content-1 p {
  padding: 1rem 0.5rem 0.5rem 1rem;
  color: var(--primaire);
}
.technos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  padding: 1rem 0;
  background-color: var(--secondaire);
  border-top: 5px solid var(--primaire);
  align-items: center;
  border-radius: 0 0 20px 20px;
}

.techno-title {
  border: 5px solid var(--tertiaire);
  padding: 0.5rem;
  font-weight: bold;
  background-color: var(--light);
}
.techno {
  display: flex;
  font-size: 1.2rem;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.techno:nth-child(odd) {
  flex-direction: column-reverse;
}
.techno img {
  width: auto;
  height: 3rem;
  border: 3px solid var(--tertiaire);
  padding: 10px;
  background-color: var(--light);
}

/* section 2 */

.content-2 {
  padding-top: 0.5rem;
  margin-bottom: 2rem;
}
.content-2 h3 {
  font-size: 2.5rem;
  margin: 0 auto;
}
.content-2 h4 {
  font-size: 1rem;
  margin: 0 auto;
}
.content-2 p {
  font-size: 0.8rem;
  margin: 0 auto;
  color: var(--brown);
}
.projects {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.content-2 figure {
  width: 22%;
  margin: 0.5rem;
  border: solid 5px var(--primaire);
  border-radius: 1.5rem;
  -webkit-box-shadow: 5px 10px 10px 2px #025684;
  -moz-box-shadow: 5px 10px 10px 2px #025684;
  box-shadow: 5px 10px 10px 2px #025684;
}
.content-2 img {
  width: 100%;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}
.content-2 figcaption {
  /* font-size: 1.5rem;
  font-weight: bold;
  color: var(--secondaire); */
  background-color: var(--primaire);
  margin-top: -1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-height: 8rem;
  border-bottom-right-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* cursor: pointer; */
}
.content-2 figcaption button {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--secondaire);
  background-color: var(--primaire);
  /* margin-top: -1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-height: 8rem;
  border-bottom-right-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center; */
  border: none;
  cursor: pointer;
}
/* section 3 */
.content-3 {
  height: calc(77vh - (var(--size-header)));
  overflow: scroll;
  padding-top: 1rem;
}
.content-3 h3 {
  font-size: 2.5rem;
  margin: 0.5rem auto;
}

.parcoursAll {
  width: 100%;
  flex-wrap: no-wrap;
  overflow: hidden;
  justify-content: center;
  margin: auto;
}
.parcours {
  width: 90%;
  display: flex;
  padding: 1rem;
  align-items: center;
  border-radius: 0 2rem;
  margin: auto;
  margin-bottom: 1rem;
}
.parcours h4 {
  width: 30%;
  font-size: 1.5rem;
  font-weight: bold;
}
.type {
  text-align: right;
  flex-grow: 1;
  text-transform: uppercase;
  font-weight: bold;
}
.parcoursTxt {
  padding-left: 2rem;
}
.formation {
  background-color: var(--primaire);
  border: outset 5px var(--primaireLow);
  color: var(--secondaire);
}
.stage {
  background-color: var(--tertiaire);
  border: outset 5px var(--tertiaireLow);
  color: var(--primaire);
}
.emploi {
  background-color: var(--secondaire);
  border: outset 5px var(--secondaireLow);
  color: var(--brown);
}
/* SCROLLBAR */
/* width */
.content-3::-webkit-scrollbar,
.content-2::-webkit-scrollbar {
  width: 20px;
  height: 100%;
}

/* Track */
.content-3::-webkit-scrollbar-track,
.content-2::-webkit-scrollbar-track {
  box-shadow: none;
}

/* Handle */
.content-3::-webkit-scrollbar-thumb,
.content-2::-webkit-scrollbar-thumb {
  background: var(--primaireLow);
  border-radius: 30px;
}

/* Handle on hover */
.content-3::-webkit-scrollbar-thumb:hover,
.content-2::-webkit-scrollbar-thumb:hover {
  background: var(--primaire);
}

/* section 4 */
.content-4 {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.div-h3 {
  display: flex;
  flex: 1;
}
.content-4 h3 {
  color: var(--h3);
  font-size: 3rem;
  text-align: center;
  margin: auto;
}
.contact {
  display: flex;
  width: 100%;
  max-width: 1100px;
  margin: auto;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1;
}
.contact img {
  width: 100%;
}
.contact figure {
  width: 5vw;
}
.contact figcaption {
  height: 5rem;
  color: var(--tertiaire);
  font-size: 1.5rem;
  font-weight: bold;
}
.contact a {
  text-decoration: none;
}

.transition {
  position: fixed;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: solid 2rem var(--secondaireLow);

  background-color: var(--primaireTrans);

  z-index: 99;
  opacity: 0;
  pointer-events: none;
  transition: ease-in 200ms;
}

.transition.active {
  opacity: 1;
  pointer-events: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: solid 2rem var(--secondaireLow);

  background-color: var(--primaireTrans);

  transition: ease-in 200ms;
}

.transition div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in 200ms;
}
.transition div img {
  margin: auto;
}
