.who {
  width: 95%;
  height: auto;
  text-align: center;
  border: solid 20px #0b4e5c;
  border-radius: 2rem;
  margin: auto;
}
.wait {
  width: 100%;
  margin: 20%;
  font-size: 3rem;
  font-weight: bolder;
  color: red;
}
.back {
  width: 10rem;
  padding: 1rem;
  margin: 10% 30%;
  font-size: 2rem;
  font-weight: bolder;
  background-color: pink;
  border-radius: 15%;
}

/*loader*/

@-webkit-keyframes invisibleq {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes invisibleq {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.loader-qui {
  width: 100vw;
  height: 105vh;
  position: absolute;
  z-index: 300;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
  background-image: url(../../assets/maisqui.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  -webkit-animation: invisible 5ms linear forwards;
  animation: invisible 5ms linear forwards;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}
