.who {
  width: 95%;
  height: auto;
  text-align: center;
  border: solid 20px #0b4e5c;
  border-radius: 2rem;
  margin: auto;
  background-color: white;
  background-image: url(../../assets/canard.jpg);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;

  position: relative;
}

.who-all {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}
.who li {
  list-style: none;
  text-align: left;
}

.back {
  width: 30%;
  display: flex;
  justify-content: space-around;

  margin: auto;
  position: absolute;
  bottom: 1rem;
  right: 2rem;
}
.back a {
  font-size: 1.3rem;
  color: #0b4e5c;
  font-weight: bold;
}

/*loader*/

@-webkit-keyframes invisibleq {
  0% {
    opacity: 1;
    height: 100%;
  }
  100% {
    opacity: 0;
    height: 100%;
  }
}
@keyframes invisibleq {
  0% {
    opacity: 1;
    height: 300vh;
  }
  100% {
    opacity: 0;
    height: 0%;
  }
}
.loader-qui {
  width: auto;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: -500rem;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
  background-image: url(../../assets/maisqui.webp);
  background-repeat: no-repeat;
  background-position: right 50% top 2%;
  background-size: 50%;
  -webkit-animation: invisibleq 5ms linear forwards;
  animation: invisibleq 5ms linear forwards;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}
.span-qui {
  color: cyan;
  font-size: 1.2rem;
  font-weight: bold;
}
.typing {
  position: absolute;
  top: 4%;
}

.who-plus {
  width: 95%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  margin: auto auto 5rem auto;
  padding: 0;
}
