.footer {
  width: 100%;
  height: 70vh;
  text-align: center;
  overflow: hidden;
  position: relative;
  z-index: -1;
}

.footerLinks {
  padding: 0;
  border-radius: 5rem;
  position: absolute;
  top: 10%;
  left: 10rem;
  margin-top: 2rem;
}

.footerTxt {
  width: 60%;
  padding: 0 2rem;
  display: flex;
  color: #0b2027;
  font-size: 2rem;
  background-color: #499167;
  border: solid 0.5rem #11270b;
  border-radius: 1rem;
  position: absolute;
  top: 65%;
  right: 6rem;
  margin-bottom: 2rem;
}
.footerTxt img,
.footerTxt a {
  width: 6rem;
  margin: auto 1rem;
}

@media screen and (max-width: 1000px) {
  .footerLinks {
    display: none;
  }

  .footerTxt {
    width: 85%;
    height: 5rem;
    padding: 0 1rem;
    margin: 4rem auto 2rem auto;
    display: flex;
    flex-wrap: wrap;
    color: #0b2027;
    font-size: 1rem;
    background-color: #499167;
    border: solid 0.5rem #11270b;
    border-radius: 1rem;
    position: static;
  }
  .footerTxt img,
  .footerTxt a {
    width: 4rem;
    margin: auto 1rem;
  }
  .footer p {
    padding: 0;
    margin: 0;
  }
}
