.my-cv {
  width: 95%;
  height: 100vh;
  text-align: center;
  border: solid 20px #0b4e5c;
  border-radius: 2rem;
  margin: auto;
}
.cvBanner {
  padding-bottom: 20rem;
}
input[type="checkbox"] {
  display: none;
}

.image-zoom img {
  width: 30%;
  transition: transform 0.25s ease;
  cursor: zoom-in;
  z-index: 99;
  padding-bottom: 5rem;
  padding-left: 2rem;
  margin: auto;
}

input[type="checkbox"]:checked ~ label > img {
  transform: scale(3) translateY(14rem);
  cursor: zoom-out;
}
.image-zoom {
  position: absolute;
  top: 15rem;
  margin-left: -5rem;
}
.download {
  position: fixed;
  bottom: 1%;
  right: 5%;
  padding: 1rem;
  border: solid 5px #0b4e5c;
  border-radius: 1rem;
  background-color: #9ce2f0;
}
.download a {
  color: #0b4e5c;
  font-weight: bolder;
  text-decoration: none;
  cursor: url("https://surlapage.fr/widget/cursors/16/1281092.gif"), default;
}

@media screen and (max-width: 370px) {
  .image-zoom {
    position: absolute;
    top: 18rem;
  }
  input[type="checkbox"]:checked ~ label > img {
    transform: scale(1.9) translateY(5rem);
    cursor: zoom-out;
  }
}
@media screen and (max-width: 700px) {
  input[type="checkbox"]:checked ~ label > img {
    transform: scale(2) translateY(8rem);
    cursor: zoom-out;
  }
}
