.my-cv {
  width: 95%;
  height: 100vh;
  text-align: center;
  border: solid 20px #0b4e5c;

  border-radius: 2rem;
  margin: auto;
}
.cvBanner {
  padding-bottom: 20rem;
}
input[type="checkbox"] {
  display: none;
}

.image-zoom img {
  width: 30%;
  transition: transform 0.25s ease;
  cursor: zoom-in;
  z-index: 99;
  padding-bottom: 5rem;
  padding-left: 2rem;
  margin: auto;
}

input[type="checkbox"]:checked ~ label > img {
  transform: scale(3) translateY(14rem);
  cursor: zoom-out;
}
.image-zoom {
  position: absolute;
  top: 15rem;
  margin-left: -5rem;
  z-index: 900;
  -webkit-animation: invisible-btn 5ms linear forwards;
  animation: invisible-btn 5ms linear forwards;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  opacity: 0;
}
@-webkit-keyframes invisible-btn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes invisible-btn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.download {
  position: fixed;
  bottom: 5%;
  right: 14%;
  padding: 1rem;
  border: solid 5px #0b4e5c;
  border-radius: 1rem;
  background-color: #9ce2f0;
  z-index: 900;
  -webkit-animation: invisible-btn 5ms linear forwards;
  animation: invisible-btn 5ms linear forwards;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  opacity: 0;
  cursor: url("https://surlapage.fr/widget/cursors/16/1281092.gif"), default;
}
.download a {
  color: #0b4e5c;
  font-weight: bolder;
  text-decoration: none;
  cursor: url("https://surlapage.fr/widget/cursors/16/1281092.gif"), default;
}

/*loader*/

@-webkit-keyframes invisible {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes invisible {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 105vh;
  position: fixed;
  z-index: 900;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-animation: invisible 5ms linear forwards;
  animation: invisible 5ms linear forwards;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bolder;
  color: #0b4e5c;
  border-left: 5rem solid #94d6e3;
  border-top: 5rem solid rgb(255, 200, 98);
  border-right: 5rem solid #94d6e3;
  border-bottom: 5rem solid rgb(255, 200, 98);
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  animation: spin 2s linear 2;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

@media screen and (max-width: 370px) {
  .image-zoom {
    position: absolute;
    top: 18rem;
  }
  input[type="checkbox"]:checked ~ label > img {
    transform: scale(1.9) translateY(5rem);
    cursor: zoom-out;
  }
}
@media screen and (max-width: 700px) {
  input[type="checkbox"]:checked ~ label > img {
    transform: scale(2) translateY(8rem);
    cursor: zoom-out;
  }
}
.back-cv {
  z-index: 900;
  width: 30%;
  display: flex;
  justify-content: space-around;
  margin: 1rem auto;

  -webkit-animation: invisible-btn 5ms linear forwards;
  animation: invisible-btn 5ms linear forwards;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  opacity: 0;
}
.back-cv a {
  font-size: 1.3rem;
  color: #0b4e5c;
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  .loader {
    width: 10rem;
    height: 10rem;
    font-size: 1rem;
  }
}
