.banner {
  width: 96%;
  margin: auto;
  overflow: hidden;
  position: relative;
  top: 2vh;
  z-index: 1;
  position: -webkit-sticky;
  position: sticky;
}

.bannerImg {
  width: 95%;
  height: 10rem;
  margin-top: 1rem;
  object-fit: cover;
  border-radius: 50rem;
  border: solid #499167 1rem;
  animation: bgAnim 2s linear 5;
}

.moi {
  width: 8rem;
  height: 8rem;

  overflow: hidden;

  position: absolute;
  top: 2.8rem;
  left: 3rem;
  animation: myAnim2 4s ease 0s 1 normal forwards;
  border: solid 0.3rem #499167;
  border-radius: 6rem;
}
.moiImg {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  object-position: 0rem -2.5rem;
}
.bannerTxt {
  position: absolute;
  top: 3.5rem;
  left: 25rem;
  opacity: 1;
  padding: 1rem;
  background-color: #499167;
  font-size: 2rem;
  font-weight: 900;
  text-align: left;
  border-radius: 0 5rem 5rem 0;
}
.bannerTxt p {
  margin: 0;
  padding-right: 2rem;
  color: #0b2027;
  animation: clignote 2s linear 5;
}
@keyframes bgAnim {
  10% {
    border: solid rgb(120, 88, 111) 1rem;
  }
  20% {
    border: solid #499167 1rem;
  }
  50% {
    border: solid rgb(120, 88, 111) 1rem;
  }
  80% {
    border: solid #499167 1rem;
  }
  90% {
    border: solid rgb(120, 88, 111) 1rem;
  }
  100% {
    border: solid #499167 1rem;
  }
}
@keyframes clignote {
  10% {
    opacity: 0.9;
  }
  20% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.9;
    color: rgb(120, 88, 111);
  }
  90% {
    opacity: 1;
    color: rgb(120, 88, 111);
  }
  100% {
    opacity: 1;
    color: #0b2027;
  }
}
@keyframes myAnim2 {
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(-5px);
  }

  24% {
    opacity: 1;
  }

  40% {
    animation-timing-function: ease-in;
    transform: translateY(-24px);
  }

  65% {
    animation-timing-function: ease-in;
    transform: translateY(-12px);
  }

  82% {
    animation-timing-function: ease-in;
    transform: translateY(-6px);
  }

  93% {
    animation-timing-function: ease-in;
    transform: translateY(-4px);
  }

  25%,
  55%,
  75%,
  87% {
    animation-timing-function: ease-out;
    transform: translateY(0px);
  }

  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0px);
  }
}

@media screen and (min-width: 780px) and (max-width: 1000px) {
  .banner {
    width: 96%;
    margin: auto;
    overflow: hidden;
    position: relative;
    top: 2vh;
    z-index: 1;
    position: -webkit-sticky;
    position: sticky;
  }

  .bannerImg {
    width: 95%;
    height: 10rem;
    margin-top: 1rem;
    object-fit: cover;
    border-radius: 50rem;
    border: solid #499167 1rem;
  }

  .moi {
    width: 8rem;
    height: 8rem;

    overflow: hidden;

    position: absolute;
    top: 2.8rem;
    left: 1.5rem;
    animation: none;
    border: solid 0.3rem #499167;
    border-radius: 6rem;
  }
  .moiImg {
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    object-position: 0rem -2.5rem;
  }
  .bannerTxt {
    position: absolute;
    top: 3rem;
    left: 11rem;
    padding: 1rem;
    background-color: #499167;
    font-size: 1.5rem;
    font-weight: 900;
    text-align: left;
    border-radius: 0 3rem 3rem 0;
  }
  .bannerTxt p {
    margin: 0;
    padding-right: 2rem;
    color: #0b2027;
  }

  .bannerTxt {
    animation: none;
  }
}

@media screen and (max-width: 780px) {
  .banner {
    width: 92%;
    margin: auto;
    overflow: hidden;
    position: relative;
    top: 2vh;
    z-index: 1;
    position: -webkit-sticky;
    position: sticky;
  }

  .bannerImg {
    width: 90%;
    height: 10rem;
    margin-top: 1rem;
    object-fit: cover;
    border-radius: 50rem;
    border: solid #499167 1rem;
  }

  .moi {
    width: 5rem;
    height: 5rem;

    overflow: hidden;

    position: absolute;
    top: 3rem;
    left: 1.5rem;
    animation: none;
    border: solid 0.3rem #499167;
    border-radius: 6rem;
  }
  .moiImg {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    object-position: 0rem -1.5rem;
  }
  .bannerTxt {
    width: 10rem;
    position: absolute;
    top: 2.8rem;
    left: 7.1rem;
    padding: 1rem 0.2rem;
    background-color: #499167;
    font-size: 1.2rem;
    font-weight: 900;
    text-align: left;
    border-radius: 0 3rem 3rem 0;
  }
  .bannerTxt p {
    width: 50%;
    margin: 0;
    padding-right: 0rem;
    padding-left: 1.5rem;
    color: #0b2027;
  }

  .bannerTxt {
    animation: none;
  }
}

@media screen and (max-width: 370px) {
  .bannerImg {
    width: 85%;
    height: 14rem;
  }

  .moi {
    position: absolute;
    top: 2rem;
    left: 5rem;
    animation: none;
    border: solid 0.3rem #499167;
    border-radius: 6rem;
  }

  .bannerTxt {
    width: 13rem;
    position: absolute;
    top: 8rem;
    left: 1.5rem;
    padding: 0.5rem 0.1rem;
    background-color: #499167;
    font-size: 1.2rem;
    font-weight: 900;
    text-align: left;
    border-radius: 0 3rem 3rem 0;
  }
  .bannerTxt p {
    width: 100%;
    margin: 0;
    padding-right: 0rem;
    padding-left: 0.5rem;
    color: #0b2027;
  }
}
