.technos {
  display: flex;
  flex-direction: row;
}
.techno {
  display: flex;
  margin-top: 4rem;
}
.tech {
  margin: 0 0.8rem;
  font-weight: 900;
  height: 1rem;
  padding: 0.5rem;
  background-color: #11270b;
  border: solid 0.3rem #499167;
  border-radius: 1rem;
  color: #f1ecce;
}

.tech:hover {
  background-color: #78586f;
}

.techno :nth-child(1) {
  opacity: 0;
  -webkit-animation: apparition 3s 500ms forwards;
  animation: apparition 3s 500ms forwards;
}
.techno :nth-child(2) {
  opacity: 0;
  -webkit-animation: apparition 3s 1000ms forwards;
  animation: apparition 3s 1000ms forwards;
}
.techno :nth-child(3) {
  opacity: 0;
  -webkit-animation: apparition 3s 1500ms forwards;
  animation: apparition 3s 1500ms forwards;
}
.techno :nth-child(4) {
  opacity: 0;
  -webkit-animation: apparition 3s 2000ms forwards;
  animation: apparition 3s 2000ms forwards;
}
.techno :nth-child(5) {
  opacity: 0;
  -webkit-animation: apparition 3s 2500ms forwards;
  animation: apparition 3s 2500ms forwards;
}
.techno :nth-child(6) {
  opacity: 0;
  -webkit-animation: apparition 3s 3000ms forwards;
  animation: apparition 3s 3000ms forwards;
}
@-webkit-keyframes apparition {
  from {
    opacity: 0;
  }
  60% {
    opacity: 0.2;
  }
  80% {
    opacity: 0.25;
  }
  to {
    opacity: 1;
  }
}
@keyframes apparition {
  from {
    opacity: 0;
  }
  60% {
    opacity: 0.2;
  }
  80% {
    opacity: 0.25;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1000px) {
  .technos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .techno {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 4rem;
    margin: 0.5rem;
  }
  .tech {
    margin: 0.5rem;
    font-weight: 900;
    height: 1rem;
    padding: 0.5rem;
  }

  .techno {
    opacity: 1;
    -webkit-animation: none;
    animation: none;
  }
}
